* {
  margin: 0;
  padding: 0;
}
body {
  text-align: center;
  background: url(https://images.unsplash.com/photo-1625832951592-920dfd518bdd?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: sans-serif;
}
.header {
  margin: 30px;
}
.header p {
  margin: 10px;
}
#submit {
  height: 100%;
  width: 100%;
}
.wrapper {
  background-color: rgba(245, 247, 246, 0.4);
  width: 95%;
  max-width: 700px;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 5px;
}
form {
  display: flex;
  flex-direction: column;
  max-width: 650px;
  width: 90%;
  margin: 30px auto;
  text-align: left;
}
form label {
  margin: 15px 10px 0;
}
form input,
form [name="dropdownmenu"],
form .label {
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin: 10px;
}

.radio label,
.checkbox label {
  display: block;
  margin: 5px 10px;
}
.radio p,
.checkbox p {
  margin: 5px 10px;
}
#textbox {
  width: 90%;
  margin: 20px auto;
  padding: 20px;
  border: none;
  border-radius: 5px;
}
#submit {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: rgb(137, 229, 241);
}
#submit:hover {
  background-color: rgb(136, 210, 253);
}
